body {
    background-image: url('images/source.png');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    min-height: 100vh; /* Gérer correctement la hauteur */
    overflow: hidden;
    color: white;
}

h1 {
    color: white;
    margin-bottom: 2rem; /* Espacement relatif */
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

ul {
    list-style: none;
    padding: 1.5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    width: 90%;
    max-width: 400px; /* Limite la largeur */
    margin: 0 auto; /* Centrage sur mobiles */
}

ul li {
    margin: 0.5rem 0;
}

.menu-button {
    position: fixed; /* Fixé pour rester visible */
    top: 20px;
    left: 20px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.menu-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.source {
    text-decoration: none;
    color: #00d8ff;
    transition: color 0.3s ease;
}

.source:hover {
    color: #ff4081;
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    ul {
        font-size: 0.875rem;
        padding: 1rem;
    }

    .menu-button {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    footer {
        font-size: 0.625rem;
    }
}

@media (max-width: 480px) {
    ul {
        width: 95%; /* Plus large sur les très petits écrans */
    }
}
